name: Build LaTeX document
on:
  push:
  pull_request:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: open-logic-debug.tex
      - name: Upload open-logic-debug.pdf
        uses: actions/upload-artifact@master
        with:
          name: Upload open-logic-debug.pdf
          path: open-logic-debug.pdf
